<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$CONTENT_TITLE">Therapeutica</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body class="bg-gray-50">
<!-- Header pentru utilizatori neautentificați -->
<header th:replace="~{fragments/header :: header}"></header>

<!-- Container principal -->
<div class="flex min-h-screen ">
    <!-- Sidebar (va fi înlocuit în funcție de rol) -->
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <!-- Conținut principal -->
    <div th:class="${session != null and session.userId != null} ? 'flex-1 ml-0 md:ml-64' : 'flex-1'">
        <main layout:fragment="content" class="p-4 md:p-6 flex-grow">
            <!-- Aici va fi injectat conținutul din fiecare pagină -->
        </main>

        <!-- Footer -->
        <footer class ="mt-auto"
                th:replace="~{fragments/footer :: footer}">

        </footer>
    </div>
</div>

<!-- Zona pentru scripts -->
<div layout:fragment="scripts">
    <!-- Scripturile vor fi injectate aici -->
</div>

</body>
</html>